<div class="animated fadeIn">

    <div class="row">

        <div class="col-md-12">

            <div class="main-card card border-secondary">

                <div class="card-header text-white bg-principal">
                    <h1 class="display-3 d-none d-sm-block">Sistema Fatura Corporativa</h1>
                    <h4 class="d-sm-none">Sistema Fatura Corporativa</h4>
                    <p class="lead">Escolha uma opção de menu para começar.</p>
                </div>

                <div class="card-body">

                    <div class="row d-sm-none">

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header text-white bg-primary">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-mobile" style="font-size:3em"></i>
                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="row d-sm-none">

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header text-white bg-danger">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-mobile" style="font-size:3em"></i>
                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="assets/img/inicial_img01.jpg" alt="..." class="img-thumbnail">
                                <div class="mb-2"></div>
                                <div class="caption">
                                    <h4>CEDAE</h4>
                                    <p>Sede da empresa.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="assets/img/inicial_img02.jpg" alt="..." class="img-thumbnail">
                                <div class="mb-2"></div>
                                <div class="caption">
                                    <h4>ETE - ALEGRIA</h4>
                                    <p>Estação de tratamento.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="assets/img/inicial_img03.jpg" alt="..." class="img-thumbnail">
                                <div class="mb-2"></div>
                                <div class="caption">
                                    <h4>GUANDU</h4>
                                    <p>A maior estação de tratamento do mundo.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="assets/img/inicial_img04.jpg" alt="..." class="img-thumbnail">
                                <div class="mb-2"></div>
                                <div class="caption">
                                    <h4>HIDRÔMETRO</h4>
                                    <p>Equipamento para medir consumo de água.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>